<div class="top-row px-4">
    @* <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a> *@
    @* <div class="top-row-links"> *@
        <NavLink class="nav-link">Home</NavLink>
        <NavLink class="nav-link" href="portfolio">Portfolio</NavLink>
        <NavLink class="nav-link" href="services">Services</NavLink>
        <NavLink class="nav-link" href="about">About</NavLink>
        <NavLink class="nav-link" href="contact">Contact</NavLink>
    @* </div> *@
</div>



@code {
    
}